* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;   /* 100 - 300 - 400 - 500 - 700 - 900*/
    font-style: normal; /* normal - italic */
}

body , h1, p{
    border: 0;
    margin: 0;
    padding: 0;
}


.general {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    background-color: grey;
}

form {
    width: 55%;
    height: 65%;
    background-color: white;
    border-radius: 5px;
}

.text-input {
    width: 95%;
    height: 30px;
    border-radius: 5px;
}

.text-input-last-name {
    width: 92%;
    height: 30px;
    border-radius: 5px;
    margin-right: 15px;
}

.text-input-amount {
    width: 89%;
    height: 30px;
    border-radius: 5px;
    margin-right: 15px;
}

input::placeholder {
    font-size: 14px;
}

.default-option {
    color: gray;
}

label {
    margin-bottom: 10px;
    font-size: calc(.5vw + .5em);
}

textarea {
    margin-right: 15px;
    border-radius: 5px;
    margin-bottom: 0;
}

p {
    margin-left: 10px;
}

h1 {
    padding-top: 10px;
    margin-left: 15px;
    font-size: clamp(1.5em, 4vh, 4em);
}

.list-state {
    width: 95%;
    height: 35px;
    border-radius: 5px;
    background-color: white;
}

/*****************************************************************************************/

.form-header {
    height: 10%;
    width: 100%;
    background-color: rgb(243, 240, 240);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*****************************************************************************************/

.form-body {
    height: 80%;
    width: 100%;
}

/* ------------------------------------------------------------------------- */

.finance-data {
    width: 100%;
    height: 30%;
}

.alert-red {
    width: (100% - 120px) ;
    height: 35%;
    color: brown;
    background-color: rgb(252, 219, 219);
    border-radius: 5px;
    margin: 15px;

    display: flex;
    align-items: center;
}

.counts {
    display: flex;
    width: 100%;
    height: 50%;
}

.card, .cvc, .amount, .first-name, .last-name, .city, .state, .postal , .message, .accept {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: 20px;
}

.card {
    width: 40%;
}

.cvc {
    width: 25%;
}

.amount {
    width: 35%;
    margin-right: 5px;
}

.postal {
    margin-right: 10px;
}

.last-name-input{
    margin-right: 10px;
}

.small-title {
    font-size: 11px;
    color: grey;
}

button {
    height: 60%;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.button-cancel {
    width: 100px;
    background-color: rgb(90, 90, 90);
}

.button-send {
    width: 80px;
    margin-left: 15px;
    background-color: #1a68fa;
}

.buttons {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------------- */

.personal-data {
    width: 100%;
    height: 70%;
    display: flex;
}

.part-left, .part-right{
    width: 50%;
    height: 100%;
}

.first-name, .last-name, .city, .direction {
    width: 100%;
    height: 30%;
}

.accept {
    width: 100%;
    height: 40%;
}

.direction {
    display: flex;
}

.state, .postal {
    width: 50%;
    height: 100%;
}

.radiobuttons {
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    background-color: gray;
}

.complete-amount {
    display: flex;
    align-items: stretch;
}

/*****************************************************************************************/

.form-footer {
    display: flex;
    justify-content: end;
    height: 10%;
    width: 100%;
    background-color: rgb(243, 240, 240);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}